# Compiled files
*.o
*.out
*.exe
*.bin
*.elf
*.depend
*.layout

# Build directories
/build/
/obj/

# Logs & temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp